{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}
<div style="text-align:center; color:white; font-size: 50px;">Model Architecture</div>
<div class="card m-4" style="width: 93  rem;">
    <img src="/static/image/pipeline.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
</div>
<div style="text-align:center; color:white; font-size: 50px;">Training Visualization</div>
<div class="card m-4" style="width: 93  rem;">
    <img src="/static/image/tensorboard3.png" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
</div>

{% endblock %}